<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d0c4730-6fb4-46a8-91a3-7f9ea8581215" Alias="movieList" Level="1">
  <Info>
    <Name>Movie List</Name>
    <Icon>icon-movie</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f23dc264-4d09-4064-a562-12c4fce612a9" SortOrder="0">movie</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e59b8300-0c5e-4fea-b969-fd92bea83ab1</Key>
      <Name>Headline</Name>
      <Alias>headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b17544ce-6a91-458f-8970-e0788ebcba2e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>