<?xml version="1.0" encoding="utf-8"?>
<Domain Key="5372dcac-0000-0000-0000-000000000000" Alias="http://localhost:3000">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="14019d63-6e77-46fc-a9c8-6d111d44c6f9">/Home</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>