<?xml version="1.0" encoding="utf-8"?>
<Content Key="90afb4ec-d193-40f2-a50b-2a9f0fb0f0ad" Alias="Alien" Level="3">
  <Info>
    <Parent Key="83b8d0c0-9b78-4a1c-8ad0-b624195f2baf">Horror Movies</Parent>
    <Path>/Home/HorrorMovies/Alien</Path>
    <Trashed>false</Trashed>
    <ContentType>movie</ContentType>
    <CreateDate>2024-11-06T13:11:27</CreateDate>
    <NodeName Default="Alien" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cover>
      <Value><![CDATA[[
  {
    "key": "002b4ce6-d93d-4141-aa2b-6c8dddc759fa",
    "mediaKey": "c4149001-b863-4f59-8f73-a85af9c910d1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cover>
    <rating>
      <Value><![CDATA[8.5]]></Value>
    </rating>
    <teaser>
      <Value><![CDATA[After investigating a mysterious transmission of unknown origin, the crew of a commercial spacecraft encounters a deadly lifeform.]]></Value>
    </teaser>
    <title>
      <Value><![CDATA[Alien]]></Value>
    </title>
    <year>
      <Value><![CDATA[1979]]></Value>
    </year>
  </Properties>
</Content>