<?xml version="1.0" encoding="utf-8"?>
<Content Key="90ba50cc-253a-4fc5-8a54-031ef704660d" Alias="Blackfish" Level="3">
  <Info>
    <Parent Key="83b8d0c0-9b78-4a1c-8ad0-b624195f2baf">Horror Movies</Parent>
    <Path>/Home/HorrorMovies/Blackfish</Path>
    <Trashed>false</Trashed>
    <ContentType>movie</ContentType>
    <CreateDate>2024-11-06T13:14:04</CreateDate>
    <NodeName Default="Blackfish" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cover>
      <Value><![CDATA[[
  {
    "key": "daf82898-fdb6-49dd-ab72-d63cd03f76b5",
    "mediaKey": "53cd7ea4-866c-4150-bd58-9b160308e3be",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cover>
    <rating>
      <Value><![CDATA[8.1]]></Value>
    </rating>
    <teaser>
      <Value><![CDATA[A documentary following the controversial captivity of killer whales, and its dangers for both humans and whales.]]></Value>
    </teaser>
    <title>
      <Value><![CDATA[Blackfish]]></Value>
    </title>
    <year>
      <Value><![CDATA[2013]]></Value>
    </year>
  </Properties>
</Content>