<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd65954c-c04a-4725-83a1-c7be5175f686" Alias="Diabolique" Level="3">
  <Info>
    <Parent Key="83b8d0c0-9b78-4a1c-8ad0-b624195f2baf">Horror Movies</Parent>
    <Path>/Home/HorrorMovies/Diabolique</Path>
    <Trashed>false</Trashed>
    <ContentType>movie</ContentType>
    <CreateDate>2024-11-06T13:13:39</CreateDate>
    <NodeName Default="Diabolique" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cover>
      <Value><![CDATA[[
  {
    "key": "d79b0f3f-101c-4632-9798-ff126fb78ac8",
    "mediaKey": "ef5b827c-b85d-441b-8f15-69e99cc8ced5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cover>
    <rating>
      <Value><![CDATA[8.1]]></Value>
    </rating>
    <teaser>
      <Value><![CDATA[The wife and mistress of a loathed school principal plan to murder him with what they believe is the perfect alibi.]]></Value>
    </teaser>
    <title>
      <Value><![CDATA[Diabolique]]></Value>
    </title>
    <year>
      <Value><![CDATA[1955]]></Value>
    </year>
  </Properties>
</Content>