<?xml version="1.0" encoding="utf-8"?>
<Content Key="14019d63-6e77-46fc-a9c8-6d111d44c6f9" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-11-05T10:12:17</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "\u003Ch2\u003EHorror, fun \u0026amp; coding\u003C/h2\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </content>
    <headline>
      <Value><![CDATA[Novicell Halloween Hackathon]]></Value>
    </headline>
  </Properties>
</Content>