<?xml version="1.0" encoding="utf-8"?>
<Content Key="83b8d0c0-9b78-4a1c-8ad0-b624195f2baf" Alias="Horror Movies" Level="2">
  <Info>
    <Parent Key="14019d63-6e77-46fc-a9c8-6d111d44c6f9">Home</Parent>
    <Path>/Home/HorrorMovies</Path>
    <Trashed>false</Trashed>
    <ContentType>movieList</ContentType>
    <CreateDate>2024-11-06T13:10:23</CreateDate>
    <NodeName Default="Horror Movies" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headline>
      <Value><![CDATA[Horror Movies]]></Value>
    </headline>
  </Properties>
</Content>