<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ad05c79-155d-4749-a911-3ca19a77adfb" Alias="Psycho" Level="3">
  <Info>
    <Parent Key="83b8d0c0-9b78-4a1c-8ad0-b624195f2baf">Horror Movies</Parent>
    <Path>/Home/HorrorMovies/Psycho</Path>
    <Trashed>false</Trashed>
    <ContentType>movie</ContentType>
    <CreateDate>2024-11-06T13:11:51</CreateDate>
    <NodeName Default="Psycho" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cover>
      <Value><![CDATA[[
  {
    "key": "677e71b4-7f5c-4ff9-992a-92a843312a45",
    "mediaKey": "efb0d16b-7efe-4850-8337-c305416cd5ce",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cover>
    <rating>
      <Value><![CDATA[8.5]]></Value>
    </rating>
    <teaser>
      <Value><![CDATA[A secretary on the run for embezzlement takes refuge at a secluded California motel owned by a repressed man and his overbearing mother.]]></Value>
    </teaser>
    <title>
      <Value><![CDATA[Psycho]]></Value>
    </title>
    <year>
      <Value><![CDATA[1960]]></Value>
    </year>
  </Properties>
</Content>