<?xml version="1.0" encoding="utf-8"?>
<Content Key="e91365c2-f22a-4394-8011-aa225d390582" Alias="Rosemary's Baby" Level="3">
  <Info>
    <Parent Key="83b8d0c0-9b78-4a1c-8ad0-b624195f2baf">Horror Movies</Parent>
    <Path>/Home/HorrorMovies/RosemarysBaby</Path>
    <Trashed>false</Trashed>
    <ContentType>movie</ContentType>
    <CreateDate>2024-11-06T13:14:41</CreateDate>
    <NodeName Default="Rosemary's Baby" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cover>
      <Value><![CDATA[[
  {
    "key": "e3629f3c-9d5d-46c3-bfed-2801bce982fb",
    "mediaKey": "dac153b1-16a0-4d6d-9e22-14a22b411b05",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cover>
    <rating>
      <Value><![CDATA[8.0]]></Value>
    </rating>
    <teaser>
      <Value><![CDATA[A young couple trying for a baby moves into an aging, ornate apartment building on Central Park West, where they find themselves surrounded by peculiar neighbors.]]></Value>
    </teaser>
    <title>
      <Value><![CDATA[Rosemary's Baby]]></Value>
    </title>
    <year>
      <Value><![CDATA[1968]]></Value>
    </year>
  </Properties>
</Content>