<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d273841-f50c-4e32-af20-55c0b024b32e" Alias="The Thing" Level="3">
  <Info>
    <Parent Key="83b8d0c0-9b78-4a1c-8ad0-b624195f2baf">Horror Movies</Parent>
    <Path>/Home/HorrorMovies/TheThing</Path>
    <Trashed>false</Trashed>
    <ContentType>movie</ContentType>
    <CreateDate>2024-11-06T13:12:39</CreateDate>
    <NodeName Default="The Thing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cover>
      <Value><![CDATA[[
  {
    "key": "a7e7e7ad-6aa8-4005-8461-95a9e27e60d9",
    "mediaKey": "2df85056-6298-44de-ad63-e61024fdafe2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cover>
    <rating>
      <Value><![CDATA[8.2]]></Value>
    </rating>
    <teaser>
      <Value><![CDATA[A research team in Antarctica is hunted by a shape-shifting alien that assumes the appearance of its victims.]]></Value>
    </teaser>
    <title>
      <Value><![CDATA[The Thing]]></Value>
    </title>
    <year>
      <Value><![CDATA[1980]]></Value>
    </year>
  </Properties>
</Content>