<?xml version="1.0" encoding="utf-8"?>
<Content Key="4eb4c272-b707-40f8-98ab-7cbef0641750" Alias="The Exorcist" Level="3">
  <Info>
    <Parent Key="83b8d0c0-9b78-4a1c-8ad0-b624195f2baf">Horror Movies</Parent>
    <Path>/Home/HorrorMovies/TheExorcist</Path>
    <Trashed>false</Trashed>
    <ContentType>movie</ContentType>
    <CreateDate>2024-11-06T13:13:21</CreateDate>
    <NodeName Default="The Exorcist" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cover>
      <Value><![CDATA[[
  {
    "key": "68b6c888-779f-4faf-a0be-d8f5009d62c5",
    "mediaKey": "4c7ef535-ce80-407c-acb8-c69f0035e3d3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cover>
    <rating>
      <Value><![CDATA[8.1]]></Value>
    </rating>
    <teaser>
      <Value><![CDATA[When a mysterious entity possesses a young girl, her mother seeks the help of two Catholic priests to save her life.]]></Value>
    </teaser>
    <title>
      <Value><![CDATA[The Exorcist]]></Value>
    </title>
    <year>
      <Value><![CDATA[1973]]></Value>
    </year>
  </Properties>
</Content>