<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b076cc4-e9c0-46a1-ad35-23924d83eacf" Alias="The Shining" Level="3">
  <Info>
    <Parent Key="83b8d0c0-9b78-4a1c-8ad0-b624195f2baf">Horror Movies</Parent>
    <Path>/Home/HorrorMovies/TheShining</Path>
    <Trashed>false</Trashed>
    <ContentType>movie</ContentType>
    <CreateDate>2024-11-06T13:12:12</CreateDate>
    <NodeName Default="The Shining" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cover>
      <Value><![CDATA[[
  {
    "key": "f8339576-aab4-40e5-86a8-e7e01fbda767",
    "mediaKey": "6fb63da9-dab3-4219-8fc4-a5d9c5d41eee",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cover>
    <rating>
      <Value><![CDATA[8.4]]></Value>
    </rating>
    <teaser>
      <Value><![CDATA[A family heads to an isolated hotel for the winter, where a sinister presence influences the father into violence. At the same time, his psychic son sees horrifying forebodings from both the past and the future.]]></Value>
    </teaser>
    <title>
      <Value><![CDATA[The Shining]]></Value>
    </title>
    <year>
      <Value><![CDATA[1980]]></Value>
    </year>
  </Properties>
</Content>