<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ddbf6e8-8779-4d76-9100-6336004a3dca" Alias="Tumbbad" Level="3">
  <Info>
    <Parent Key="83b8d0c0-9b78-4a1c-8ad0-b624195f2baf">Horror Movies</Parent>
    <Path>/Home/HorrorMovies/Tumbbad</Path>
    <Trashed>false</Trashed>
    <ContentType>movie</ContentType>
    <CreateDate>2024-11-06T13:13:01</CreateDate>
    <NodeName Default="Tumbbad" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cover>
      <Value><![CDATA[[
  {
    "key": "1ac22ae7-28a1-49bc-ad78-c91523d169ad",
    "mediaKey": "7edc1855-db3d-479a-9e78-29b9978a3129",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cover>
    <rating>
      <Value><![CDATA[8.2]]></Value>
    </rating>
    <teaser>
      <Value><![CDATA[A mythological story about a goddess who created the entire universe. The plot revolves around the consequences when humans build a temple for her first-born.]]></Value>
    </teaser>
    <title>
      <Value><![CDATA[Tumbbad]]></Value>
    </title>
    <year>
      <Value><![CDATA[2018]]></Value>
    </year>
  </Properties>
</Content>