<?xml version="1.0" encoding="utf-8"?>
<Content Key="d69d9151-c50e-4f47-b261-6ecbd188cb7e" Alias="What Ever Happened to Baby Jane?" Level="3">
  <Info>
    <Parent Key="83b8d0c0-9b78-4a1c-8ad0-b624195f2baf">Horror Movies</Parent>
    <Path>/Home/HorrorMovies/WhatEverHappenedToBabyJane</Path>
    <Trashed>false</Trashed>
    <ContentType>movie</ContentType>
    <CreateDate>2024-11-06T13:15:03</CreateDate>
    <NodeName Default="What Ever Happened to Baby Jane?" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cover>
      <Value><![CDATA[[
  {
    "key": "246b56b0-4d42-4968-bf1b-697d5c6b359d",
    "mediaKey": "ea730a9e-a3f0-4326-a2f9-1d8d26c829cf",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cover>
    <rating>
      <Value><![CDATA[8.0]]></Value>
    </rating>
    <teaser>
      <Value><![CDATA[A former vaudeville child star torments her paraplegic sister, who eclipsed her as a movie star, in their decaying Hollywood mansion while desperately clinging to hopes of a comeback.]]></Value>
    </teaser>
    <title>
      <Value><![CDATA[What Ever Happened to Baby Jane?]]></Value>
    </title>
    <year>
      <Value><![CDATA[1962]]></Value>
    </year>
  </Properties>
</Content>