<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4149001-b863-4f59-8f73-a85af9c910d1" Alias="Alien.jpg" Level="2">
  <Info>
    <Parent Key="98930986-507e-4a6b-b0e3-1816f3341681">Movies</Parent>
    <Path>/Movies/Alienjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-06T14:06:19</CreateDate>
    <NodeName Default="Alien.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rznfe2qk/alien.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>