<?xml version="1.0" encoding="utf-8"?>
<Media Key="53cd7ea4-866c-4150-bd58-9b160308e3be" Alias="Blackfish.jpg" Level="2">
  <Info>
    <Parent Key="98930986-507e-4a6b-b0e3-1816f3341681">Movies</Parent>
    <Path>/Movies/Blackfishjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-06T14:06:20</CreateDate>
    <NodeName Default="Blackfish.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fo0ixzif/blackfish.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>