<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef5b827c-b85d-441b-8f15-69e99cc8ced5" Alias="Diabolique.jpg" Level="2">
  <Info>
    <Parent Key="98930986-507e-4a6b-b0e3-1816f3341681">Movies</Parent>
    <Path>/Movies/Diaboliquejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-06T14:06:21</CreateDate>
    <NodeName Default="Diabolique.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4neb0wju/diabolique.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>