<?xml version="1.0" encoding="utf-8"?>
<Media Key="98930986-507e-4a6b-b0e3-1816f3341681" Alias="Movies" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Movies</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-06T14:06:39</CreateDate>
    <NodeName Default="Movies" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>