<?xml version="1.0" encoding="utf-8"?>
<Media Key="efb0d16b-7efe-4850-8337-c305416cd5ce" Alias="Psycho.jpg" Level="2">
  <Info>
    <Parent Key="98930986-507e-4a6b-b0e3-1816f3341681">Movies</Parent>
    <Path>/Movies/Psychojpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-06T14:06:21</CreateDate>
    <NodeName Default="Psycho.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2qnpmwmx/psycho.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>