<?xml version="1.0" encoding="utf-8"?>
<Media Key="dac153b1-16a0-4d6d-9e22-14a22b411b05" Alias="Rosemarys-baby.jpg" Level="2">
  <Info>
    <Parent Key="98930986-507e-4a6b-b0e3-1816f3341681">Movies</Parent>
    <Path>/Movies/RosemarysBabyjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-06T14:06:22</CreateDate>
    <NodeName Default="Rosemarys-baby.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/h0mjo1gj/rosemarys-baby.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>