<?xml version="1.0" encoding="utf-8"?>
<Media Key="2df85056-6298-44de-ad63-e61024fdafe2" Alias="The-thing.jpg" Level="2">
  <Info>
    <Parent Key="98930986-507e-4a6b-b0e3-1816f3341681">Movies</Parent>
    <Path>/Movies/TheThingjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-06T14:06:23</CreateDate>
    <NodeName Default="The-thing.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1gnl3g5r/the-thing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>