<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c7ef535-ce80-407c-acb8-c69f0035e3d3" Alias="The-exorcist.jpg" Level="2">
  <Info>
    <Parent Key="98930986-507e-4a6b-b0e3-1816f3341681">Movies</Parent>
    <Path>/Movies/TheExorcistjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-06T14:06:23</CreateDate>
    <NodeName Default="The-exorcist.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xi5dr4xj/the-exorcist.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>