<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fb63da9-dab3-4219-8fc4-a5d9c5d41eee" Alias="The-shining.jpg" Level="2">
  <Info>
    <Parent Key="98930986-507e-4a6b-b0e3-1816f3341681">Movies</Parent>
    <Path>/Movies/TheShiningjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-06T14:06:25</CreateDate>
    <NodeName Default="The-shining.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/e11pbwo0/the-shining.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>