<?xml version="1.0" encoding="utf-8"?>
<Media Key="7edc1855-db3d-479a-9e78-29b9978a3129" Alias="Tumbbad.jpg" Level="2">
  <Info>
    <Parent Key="98930986-507e-4a6b-b0e3-1816f3341681">Movies</Parent>
    <Path>/Movies/Tumbbadjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-06T14:06:24</CreateDate>
    <NodeName Default="Tumbbad.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1ljjvscu/tumbbad.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>