<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea730a9e-a3f0-4326-a2f9-1d8d26c829cf" Alias="What-ever-happened-to-baby-jane.jpg" Level="2">
  <Info>
    <Parent Key="98930986-507e-4a6b-b0e3-1816f3341681">Movies</Parent>
    <Path>/Movies/WhatEverHappenedToBabyJanejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-06T14:06:25</CreateDate>
    <NodeName Default="What-ever-happened-to-baby-jane.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/chadkxez/what-ever-happened-to-baby-jane.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>